	#nav-menu {
	width: 40%;
    height: 100%;
    background:#b2251d; 
    color: white;
    margin: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
	z-index:1;
  box-shadow: 1px 1px 10px gray;
	display:none;
}

	#nav-menu .nav {
	padding:0px;
	text-align: center;
	margin:0px;
}
	
	#nav-menu li{
	list-style:none;
	height:50px;
	line-height:50px;
	border-bottom: 1px white solid;
}
	#closed{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
}
	#dag-site{
	width:100%;
	height:100%;
	position: absolute;
  top: 0px;
  left: 0px;
}
	#dag-site iframe{
	width:100%;
	height:100%;
}

	#nav-logo {
	background: #F3FFF8;
    width: 100%;
    text-align: center;
}

	#nav-logo img{
	width: 75%;	
}

#exit-model {
	width:100%;
	height:100%;
	display:none;
}

#exit-wall {
	background: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
		top:0px;
    left: 0px;
    opacity: 0.8;
}

#exit{
	width:70%;
	height:110px;
    position: fixed;
    z-index: 2;
    text-align: center;
    background: gray;
    left: 15%;
    bottom: 15%;
}

#exit div{
  color: white;
  margin: 10px;
	height: 35px;
  line-height: 35px;
}

#exit button{
	width:65px;
  padding: 5px 10px;
  margin: 5px;
}

#nav-footer{
position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background: gray;
    text-align: center;
		color:white;
    padding: 10px 0px;
		height: 30px;
    line-height: 30px;
		box-shadow: 1px 1px 10px gray;
		border-top:1px solid white;
}

#nav-footer div{
	width:20%;
	display:inline-block;
	margin: 0px 2%;
}
	#nav-footer a:link{
	color:white;
}
	#nav-footer a:visited{
	color:white;
}

span#closedBtn {
	color:#FFFF00;
}
