body{
	font-family:"微软雅黑";
	margin: 0px;
}
img{
	max-width:100%;
	height:auto;
}
ul{
	padding:0px;
}
li{
	padding:0px;
	list-style:none;
}

/*以下是头部*/
#box_header{
	font-size: 0.8rem;
	margin-top:15px;
}

/*将官方的搜索引擎进行隐藏*/
#box_header_bot #box_header_search,#box_header_bot #box_header_keyword{
	display:none;
}

/*统一设置样式的外边距*/
#searchbar,.box_header_nav1,#box_banner,#box_productsBbasic{
margin: 10px 0px !important;
}

/*屏蔽横栏导航*/
.box_header_nav2{
	display:none;
}

/*去掉客服与朋友推荐、左栏目*/
#box_hide+div,#box_products-tool,#box_left{
	display:none;
}

h1.htmlinline{
	font-size:1.8rem;
}



/*价格样式*/
.pricesuccess {
        color:red !important;
}

/*大图样式*/
.ProductDetail_image01-d2_c1 .pic-big .pic {
	width: inherit !important;
     height: inherit !important;
    border: 1px solid #CCCCCC;
     display:inherit !important; 
     padding: inherit !important;
     text-align: inherit !important;
    vertical-align: inherit !important;
     overflow: hidden;inherit !important;/
     float: inherit !important;
}
.ProductDetail_image01-d2_c1 .pic-big .jqzoom {
	width:inherit !important;
}
.ProductDetail_image01-d2_c1 .pic-big .jqzoom img {
    vertical-align: middle !important;
    border: 0px !important;
    width: 900px !important;
    height: auto !important;
}
.ProductDetail_image01-d2_c1 .pic-list{
	width:100% !important;
	height:auto !important;
	padding: 10px 0px;
}

/*设置选择型号的样式*/
li.format-type{
	margin:10px 0px;
}

.text-type a:link{
	display:inline-block;
	font-style:normal;
	background: #31B0D5;
	padding: 10px;
	color: white;
	border-radius: 0.4em;
	margin: 3px 0px;
	width: 100%;
	text-align: center;
}
.text-type-active{
	background-color:#B2251D !important;
}

/*重置幻灯片播放按钮样式*/
a.scrollprevpage{
    position:absolute;
    z-index: 9;
    left: 15px;
    margin-top: 3px;
}
a.scrollnextpage{
    position:absolute;
    z-index: 9;
    right: 15px;
    margin-top: 3px;
}

.tip-error {
	display:none;
}

.buy span,.buy em{
	display:inline-block;
	margin-bottom:10px;
}
.buy input{
	display:inline-block;
	width:40px;
	border-radius: 0.5em;
	margin: 0px 5px;
	text-align:center;
}
.selectedbox strong{
	color:red;
	border: 1px gray solid;
    padding: 0px 10px;
}

.spike-t {
	display:none;
}

.btnb {
	display:block;
	margin:10px 0px;
	border:1px #eee solid;
	padding:10px;
	text-align:center;
	border-radius:0.4em;
}
.btnb-import{
	background:#B2251D;
	color:white;
}

.btnb-nomarl{
	background:#31B0D5;
	color:white;
}

.j-favorites{
	display:none;	

}

.jiathis_counter_style {
	display:none;
}

#Help_listByMultiCategory01-001{
	display:none !important;
}

.tabhead{
	display:none;
}
.titlestyle_47 {
	display:inline-block;
}
.titlestyle_47 img{
	display:none;
}

.tabs-cont{
    margin: 10px 0px;
    padding: 5px;
    border: #ddd 1px solid;
}

#box_BreadCrumbs,#box_productsBbasic .col-xs-12 {
	padding:0px;
}

/*底部的多余样式全部清零*/
#elem-Custom_form01-001,#elem-Review_list01-101,#elem-OrderExt_bizRecord01-101,#elem-Consult_list01-101,#box_root_tab2,#box_root_tab3,#box_root_tab4,#Column_navigation01-002,#elem-Public_textInfo01-001{
	display:none;
}

#ProductCategory_show01-1411396696371,#box_header_nav {
	display:none;
}

#category-index button{
	margin:5px 0px;
}

#elem-Eui_comp_imageText-0715222 {
	display:none;
	
}

#box_footer {
	margin-top:30px;	
	margin-left: -15px;
        margin-right: -15px;
}
#address{
	background-color:gray;
	color:white;
	text-align:center;
	padding:15px;
}

#address a:link{
	color:white;
}

#address address{
	padding:15px;
}

#category-index a:link{
	color:black;
}

#box_header_top_sub1 {
	height:1.5rem;
}

#OrderCart_showMini01_TipLayer {
	background:yellow;
	border-radius:0.4em;
	text-align:center;
	left:0px !important;
	right:0px !important;
}
.float-win {
	padding: 15px 0px 0px 0px;
}

#OrderCart_showMini01_TipLayer h3{
	display:none;
}
#OrderCart_showMini01_TipLayer h4{
	color:green;
	font-size:1.3rem;
}



/*以下是手机版屏蔽自定义模版描述，加速手机阅览性能*/

#edit-header,#edit-footer{
	display:none;
}
