@import url(//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css);
@import url(//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(http://www.dag1688.com/styles/product/ProductDetail_image01-d2_c1.css);
/*@import url(http://www.dag1688.com/styles/page_members_register.css);*/



body{
	font-family:"微软雅黑";
	margin: 0px;
	background:#faf9f4; !important;
}
img{
	max-width:100%;
	height:auto;
}
ul{
	padding:0px;
}
li{
	padding:0px;
	list-style:none;
}

/*以下是头部*/
#box_header{
	font-size: 0.8rem;
	margin-top:15px;
}

/*将官方的搜索引擎进行隐藏*/
#box_header_bot #box_header_search,#box_header_bot #box_header_keyword{
	display:none;
}

/*统一设置样式的外边距*/
#searchbar,.box_header_nav1,#box_banner,#box_productsBbasic{
margin: 10px 0px !important;
}

/*屏蔽横栏导航*/
.box_header_nav2{
	display:none;
}

/*去掉客服与朋友推荐、左栏目*/
#box_hide+div,#box_products-tool,{
	display:none;
}

h1.htmlinline{
	font-size:1.8rem;
}



/*价格样式*/
.pricesuccess {
        color:red !important;
}

/*大图样式*/
.ProductDetail_image01-d2_c1 .pic-big .pic {
	width: inherit !important;
     height: inherit !important;
    border: 1px solid #CCCCCC;
     display:inherit !important; 
     padding: inherit !important;
     text-align: inherit !important;
    vertical-align: inherit !important;
     overflow: hidden;inherit !important;/
     float: inherit !important;
}
.ProductDetail_image01-d2_c1 .pic-big .jqzoom {
	width:inherit !important;
}
.ProductDetail_image01-d2_c1 .pic-big .jqzoom img {
    vertical-align: middle !important;
    border: 0px !important;
    width: 900px !important;
    height: auto !important;
}
.ProductDetail_image01-d2_c1 .pic-list{
	width:100% !important;
	height:auto !important;
	padding: 10px 0px;
}

/*设置选择型号的样式*/
li.format-type{
	margin:10px 0px;
}

.text-type a:link{
	display:inline-block;
	font-style:normal;
	background: #31B0D5;
	padding: 10px;
	color: white;
	border-radius: 0.4em;
	margin: 3px 0px;
	width: 100%;
	text-align: center;
}
.text-type-active{
	background-color:#B2251D !important;
}

/*重置幻灯片播放按钮样式*/
a.scrollprevpage{
    position:absolute;
    z-index: 9;
    left: 15px;
    margin-top: 3px;
}
a.scrollnextpage{
    position:absolute;
    z-index: 9;
    right: 15px;
    margin-top: 3px;
}

.tip-error {
	display:none;
}

.buy span,.buy em{
	display:inline-block;
	margin-bottom:10px;
}
.buy input{
	display:inline-block;
	width:40px;
	border-radius: 0.5em;
	margin: 0px 5px;
	text-align:center;
}
.selectedbox strong{
	color:red;
	border: 1px gray solid;
    padding: 0px 10px;
}

.spike-t {
	display:none;
}

.btnb {
	display:block;
	margin:10px 0px;
	border:1px #eee solid;
	padding:10px;
	text-align:center;
	border-radius:0.4em;
}
.btnb-import{
	background:#B2251D;
	color:white;
}

.btnb-nomarl{
	background:#31B0D5;
	color:white;
}

.j-favorites{
	display:none;	

}

.jiathis_counter_style {
	display:none;
}

#Help_listByMultiCategory01-001{
	display:none !important;
}

.tabhead{
	display:none;
}
.titlestyle_47 {
	display:inline-block;
}
.titlestyle_47 img{
	display:none;
}

.tabs-cont{
    margin: 10px 0px;
    padding: 5px;
    border: #ddd 1px solid;
}

#box_BreadCrumbs,#box_productsBbasic .col-xs-12 {
	padding:0px;
}

/*底部的多余样式全部清零*/
#elem-Custom_form01-001,#elem-Review_list01-101,#elem-OrderExt_bizRecord01-101,#elem-Consult_list01-101,#box_root_tab2,#box_root_tab3,#box_root_tab4,#Column_navigation01-002,#elem-Public_textInfo01-001{
	display:none;
}

#ProductCategory_show01-1411396696371,#box_header_nav {
	display:none;
}

#category-index button{
	margin:5px 0px;
}

#elem-Eui_comp_imageText-0715222 {
	display:none;
	
}

#box_footer {
	margin:50px 15px 0px 15px;
}

/*div.comptitle_99,div#category-index {
	margin:15px;
}*/
#category-index+#address{
	background-color:gray;
	color:white;
	text-align:center;
	padding:15px;
	margin: 30px -15px 0px -15px;
}

#address a:link{
	color:white;
}

#address address{
	padding:15px;
}

#category-index a:link{
	color:black;
}

#box_header_top_sub1 {
	height:1.5rem;
}

#OrderCart_showMini01_TipLayer {
	background:yellow;
	border-radius:0.4em;
	text-align:center;
	left:0px !important;
	right:0px !important;
}
.float-win {
	padding: 15px 0px 0px 0px;
}

#OrderCart_showMini01_TipLayer h3{
	display:none;
}
#OrderCart_showMini01_TipLayer h4{
	color:green;
	font-size:1.3rem;
}



/*以下是手机版屏蔽自定义模版描述，加速手机阅览性能*/

#edit-footer{
	display:none;
}
/*以下是将头部的多余部分进行隐藏*/
#elem-Product_recommendList01-101,#Product_list01-105_Form+.pageJump{
	display:none;
}

#box_main,.filter-tools{
	margin:5px auto;
}


/*设置产品列表的样式*/

li.column-num3{
	border:1px #eee solid;
	box-sizing: border-box;
  text-align: center;
  padding: 15px;
  background:white;
  display: inline-block;
    width: 49%;
    vertical-align: middle;
   margin-bottom: 5px;
	height: 210px;
}

.col-space {
        vertical-align: middle;
}

p.buttonP{
	display:none;
}

li.name span {
	display:none;
}

.pro-module {
	font-size:0.75rem;
}

ul.productlist-02+div.pageJump div{
	margin:5px 0px;
}
.currentpagepizespan,.otherpagepizespan{
	margin:0px 5px;
}

.pro-list-head{
	display:none;
}

span.omit {
	display:none !important;
} 

div.number{
	text-align:center;
}
div.number span,div.number a {
 display:inline-block;	
 padding:10px 15px;
 width: 22%;
 text-align: center;
 border-radius: 0.3rem;
    box-shadow: 0 .1rem 0 rgba(255,255,255,.6) inset;
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    margin:5px;
    border:1px #eee solid;
    font-size:0.75rem;
}

.totalcount,.amount{
	display:none;
}

#Order_myCart01_OutMaxCount,#Order_myCart01_AmountInfo,#OrderCart_myCart01_ClearTipLayer {
	display:none;
}


#Product_filterSearch01-101_selectConditions h3 {
	font-size:1rem;
}

.result h3,.result ul{
	display:inline-block;
}

.Product_filterSearch01-d1_c1 .result .selestfinds A {
display: inline-block;
    background: url(http://www.dag1688.com/images/product/close-1.jpg) #f2e6ed no-repeat 96% center;
    color: #cf171f;
    margin-right: 10px;
    border: #cf171f 1px solid;
    padding: 2px 20px 1px 6px;
    cursor: pointer;
    margin-bottom: 5px;
}

#Product_filterSearch01-101_selectConditions {
	height:1.5rem;
}

#Product_filterSearch01-101_deSelectAllConditions,#Product_filterSearch01-101_selectConditions,#Product_filterSearch01-101_brand_more{
	display:inline-block;
}

dl.last dt,dl.last dd{
	display:inline-block;
}

#elem-Product_filterSearch01-101 {
    border-bottom: 1px #EDE0D0 solid;
    display:none;
}

.border_47-midr {
	margin-top:15px;
}

li.sort span {
	display:none;
}

#Members_welcomeInfo02-001_notlogin_websiteName{
	display:none;
}
/*产品详情页面*/
a.j-buy {
	display:block !important;
}

.htmledit table{
	width:100% !important;
}

.htmledit #dagbody,.htmledit .one,.htmledit .dag-main {
	display:none;
}

.text-type a:link{
	background: #A7A7A7;
}

#Product_list01-105_select{
    border-radius: 0.3em;
    width: 100%;
    padding: 5px;
}


#Product_recommend01-101,#box_page_ad,#elem-Product_top01-101,#Product_similar01-101,#Product_similar01-101,#ProductBrand_list01-101,#Product_viewList01-101,#ProductCategory_show01-101,#Review_ranking01-101,#box_hide+div,#ProductCategory_show01-left_nav,#ProductBrand_list01-105{
	display:none;
}

#cartsitemstable .name img{
	display:none;
}
#cartsitemstable input{
    width: 60%;
    text-align: center;
    padding: 3px;
    border-radius: 0.3rem;	
}

#cartsitemstable {
	font-size:0.75rem;
	text-align:center;
}

#cartsitemstable .first+.number,#cartsitemstable .first {
	display:none;
}

#cartsitemstable th{
	width:25%;	
        text-align: center;
}

.order-login {
	margin-bottom:15px;
}

#Order_myCart01_total .distribution,#Order_myCart01_total .rate{
	display:none;
}

#OrderCart_myCart01_ClearTipLayer {
    position: absolute;
    z-index: 101;
    top: 368px;
    left: 223.5px;
    margin-left: -88px;
    margin-top: -82px;
    padding: 10px;
    border-radius: 0.6em;
    background: white;
	
}
#OrderCart_myCart01_ClearTipLayer #beyondCount,#OrderCart_myCart01_ClearTipLayer #beyondMaxCount {
	display:none;
}
#OrderCart_myCart01_ClearTipLayer{
	text-align:center;
}
#OrderCart_myCart01_ClearTipLayer .btnarea{
	margin-top:15px;
}
#OrderCart_myCart01_ClearTipLayer .btnarea a{
	display:inline-block;
	background: #eee;	
}

#OrderCart_myCart01_showDiv span,#continueBuyURLString .btn-m,#OrderCart_myCart01_toSettleAccounts .btn-m{
padding:10px;	
}
#continueBuyURLString .btn-m {
     background: #31B0D5;
    color: white;	
	border-radius:0.3rem;
}
#OrderCart_myCart01_toSettleAccounts .btn-m {
	background: #B2251D;
    color: white;	
	border-radius:0.3rem;
}
#OrderCart_myCart01_showDiv span{
	background:gray;
	color:white;
	border-radius:0.3rem;
}
.btn-left,.btn-right{
	display:inline-block;
}
.btn-left{
    position: relative;
    top: 2px;
}

.btn-right{
	position:relative;
	left:-30px;
}

#OrderCart_myCart01_toSettleAccounts {
	position:relative;
	left:-25px;
}


#OrderCart_showMini01_shopping-stat {
	display:none;
}

#box_main_mid_cart{
	display:none;
}

/*注册页*/
div.text-oper input {
	display:inline-block;
}

#showPwdStrength,#promptMessage,#promptMessageClew{
	display:none;
}

#regeditUl .verify a{
	font-size:0.75rem;
}
#regeditUl .no-title #submitButton .btn-m{
	    background: #B2251D;
    color: #fff;
    padding: 10px;
    border-radius: 0.3rem;
    position: relative;
    left: -17px;
    top: 23px;	
}
#regeditUl .address #address {
	background:white;
	margin:0px;
	color: black;
    	text-align: left;
}
#regeditUl input{
	border-radius:0.3rem;
}

#regeditUl li{
	/*height:60px;*/
	padding: 5px 0px 10px;
}
#regeditUl .text-oper #logoDiv {
	margin-bottom:5px;	
}

#Members_login01-101_loginForm .text-oper input{
	border-radius:0.3rem;
}

#forgetPassword {
	font-size:0.75rem;
	color:gray;
}

#Members_login01-101_loginForm #goFront .btn-m {
background: #B2251D;
    color: white;
    padding: 5px 10px;
    margin: 10px 5px 5px 0px;
    display: inline-block;
    border-radius: 0.3rem;
}

#box_members_reg .comptitle_47 {
	margin:10px 0px;
}

#box_members_reg li.account,#box_members_reg li.password{
	padding:5px 0px;
}

#regeditUl #cellphonePrompt{
	font-weight:bold;
	color:red;
}

.type-file-box #button {
	display:none;
}

textarea.textarea{
	padding:5px;
	width:250px;
	border-radius: 0.4rem;
}

div.text-tip .tip-error {
	color:red;
	font-weight:bold;
}

#Members_info01-101_showTwoCode,#Members_info01-101_careSuccess{
	display:none;
}

#Members_info01-101 .icon img,#Members_info01-101 img#headImg{
	width:100px;
}

/*资讯分类*/
div#elem-NewsCategory_tree01-1415241977012 {
	display:none;
}

div#News_detail01-1415241990783,#infoContent,#NewsCategory_tree01-110601 {
	margin-top:15px;
}

div#News_detail01-1415241990783 span.font {
	display:none;
}

div#NewsCategory_tree01-110601 ul.first li {
	border: 1px solid #eee;
    text-align: center;
    background: #eee;
    border-radius: 0.3rem;
    padding: 5px 0px;
    margin:5px 0px;
   display:inline-block;
   width:49%;
}
div#NewsCategory_tree01-110601 ul.first li.bot-line{
	display:none;
}

/*设置VIDEO*/
.dag-video{
	display:none !important;
}

.header-hr {
    border-color: #b2251d;
    margin-left: -15px;
    margin-right: -15px;
    border-width: 2px;
}


#News_list01-110602 li.title {
	list-style-image:url(http://www.dag1688.com/images/news_sign.jpg);
	list-style-position:inside;
}
#News_list01-110602 li.date {
	font-size:0.5rem;
	text-align:right;
	border-bottom:1px gray dashed;
}

#News_list01-110602 ul.newslist ul{
	margin:15px 0px;
}

#pcedition{
	display: block;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    background: gray;
    width: 100%;
    margin: 0px -15px;
    color: white;
    text-align: left;
    padding-left:10px;
    letter-spacing: 0.1rem;
    font-size:0.75rem; 
    opacity:0.7;
}

#slider{
width: 100%;
    margin: 15px 0px 0px 0px;
}

#slider a {
	display:block;
}



#control .fa{
	margin:0px 5px;
}

#control {
	text-align: center;
    position: relative;
    z-index.1;
    margin-top:10px;
    margin-bottom:10px;
}


#next{
	float:right;
}

#head-main {
	margin:0px -15px;
}

#slider img{
	width:100%;
}

#nav {
	border-top:1px #EDE0D0 solid;
	border-bottom:1px #EDE0D0 solid;
	background:white;
}

#navUl {
	text-align:center;
	margin:15px 0px;
}


#navUl li {
	display:inline-block;
	margin:0px 5px;
	font-size:0.75rem;
	color:#373a3c;
}

li.column-num5 {
	    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 2px 0px;
    padding: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
	background:white;
}

#ProductBrand_list01-001 ul{
}

#brand ul{
	margin: 15px;
}

.column-num6 {
width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0px 0px;
    padding: 10px;
    border: 1px #EDE0D0 solid;
    box-sizing: border-box;
    background: white;
}

#brand>div {
	margin: 15px;
    font-weight: bold;
}


/*麦太保专题*/

#metabo-video-box h2{
	display:none;
}
#metabo-video-box #video-control {
	font-size:0.75rem;
}

#metabo-video-box #video-control button{
	height:56px;
}

/*世达商品描述模版*/
#sata-video-box h2{
	display:none;
}
#sata-video-box #video-control{
	display:block;
	font-size: 0.75rem;
}


/*头部logo*/
#headlogo,#searchbar {
	display:inline-block;
	vertical-align:middle;
}

#headlogo {
	width:30%;
	border-right: #eee solid 2px;
}

#searchbar {
	width:70%;
	padding-left: 10px;
}


.comptitle_00 {
	margin:15px 0px;
}


li.column-num3:first-child{
	width:100%;
	height: 270px;
}

button.btn-primary{
	    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}
