@import url("http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css");
img {
        max-width:100%  !important;
        height:auto;
}


#box_header,#box_header_mid,#box_header_nav,#box_banner,#box_left{
        display:none;
}
#box_hide + div {
        display:none;
}
/*将商品详细的介绍放在左边*/
#box_productsImg + div,#box_right{
        float:left !important;
}
