body{
	    font-family: "Microsoft YaHei" ! important;
    line-height: 1.5em;
}
.container{
    font-family: "Microsoft YaHei" ! important;
    line-height: 1.5em;
    max-width: 768px;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
img{
	max-width:100%;
	height:auto;
}
.text-center{
	text-align:center;
	width:100%;
}

.backimg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	animation:scale 60s	linear forwards;
	-webkit-animation:scale 60s	linear forwards;
}
	@keyframes scale 
{
	from{transform:scale(1)}
	to{transform:scale(3)}
}
	@-webkit-keyframes scale 
{
	from{transform:scale(1)}
	to{transform:scale(3)}
}

.abtext{
	position:absolute;
	z-index:2;
}

#logo2016{
	width:80%;
	height:auto;
	position:relative;
	animation:logo2016  5s linear;
	animation-iteration-count:1;
	-webkit-animation:logo2016  5s linear;
	-webkit-animation-iteration-count:1;
}

#logo{
	width:80%;
	height:auto;
	margin:15px;
}

.overflow{
width: 100%;
height: 50%;
overflow: hidden;
position: absolute;
bottom: 30%;
}

@keyframes logo2016 
{
from {bottom:-300px;}
to {bottom:0px;}
}
@-webkit-keyframes logo2016 
{
from {bottom:-300px;}
to {bottom:0px;}
}

.bt-text {
	position:fixed;
	bottom:10%;	
	z-index:5;
	
}

img[src="images/down.svg"],img[src="images/down2.svg"] {
	width:15%;
	position:relative;
	animation:updown 1s linear infinite;
	-webkit-animation:updown 2s linear infinite;
}

	@keyframes updown {
	from{top:0px;opacity:0;}
	to{top:15px;opacity:1;}
}
	@-webkit-keyframes updown {
	from{top:0px;opacity:0;}
	to{top:15px;opacity:1;}
}
.fa-chevron-circle-up{
	color:white	!important;
}


#pagetwo{
	background-color:#B2251D;
}
#pagethree{
	background-color:#3FAF98;
}
#pagefour{
	background-color:#F39437;
}
#pagefive{
	background-color:#FD0083;
}

#pagesix{
	background-color:#005499;
}

#pageseven{
	background-color:#006347;
}

#pageeight{
	background-color:#18205f;
}

.page{
	width:100%;
	text-align:center;
}	
.headerlogo{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	animation:transform 2s infinite;
	animation-iteration-count:1;
	-webkit-animation:transform 2s infinite;
	-webkit-animation-iteration-count:1;
}


@keyframes transform{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}
@-webkit-keyframes transform{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}

#dagbrandlogo{
	animation:rotate 2s infinite;
	animation-iteration-count:1;
	-webkit-animation:rotate 2s infinite;
	-webkit-animation-iteration-count:1;

}

@keyframes rotate{
	0%{transform:rotateX(0deg)}
	100%{transform:rotateX(360deg)}
}
@-webkit-keyframes rotate{
	0%{transform:rotateX(0deg)}
	100%{transform:rotateX(360deg)}
}

.text p {
	text-shadow:none !important;
	text-align:left;
	color:#fff;
	font-size:1em;
	padding:15px;
}

.text {
	position:relative;
	animation:display 2s linear infinite; 
	animation-iteration-count:1;
	-webkit-animation:display 2s linear infinite; 
	-webkit-animation-iteration-count:1;
}

@keyframes display{
	0%{opacity:0;}
	100%{opacity:1;}	
}
@-webkit-keyframes display{
	0%{opacity:0;}
	100%{opacity:1;}	
}

.halfwidth{
	width:60%;
}

.brandview{
	width:100%;
	height:100%;
	overflow:hidden;
  box-shadow: 1px 1px 10px #f6f6f6;
	border-radius: 0.5em;
}

#brandjpg {
	width:100%;
	height:auto;
	position:relative;
	animation:brandview 60s linear infinite alternate;
	-webkit-animation:brandview 60s linear infinite alternate;
}

@keyframes brandview {
	from{top:0px;}
	to{top:-3969px;}
}
@-webkit-keyframes brandview {
	from{top:0px;}
	to{top:-3969px;}
}
.text-left{
	text-align:left;
}
.text ul {
    margin-left: auto;
    margin-right: auto;
    text-shadow: none !important;
    color: #fff;
}

.text ul li {
	list-style:none;
}

#pageeight p{
	text-align:center;
}

.w200{
	width:200px;
}

#pageseven .headerlogo {
    margin-top: 10%;
    position: absolute;
    z-index: 1;
		width:100%;
    background-color: rgba(255, 255, 255, 0.8);
}
